extends ../layout/layout

block content
  .wrap
    -if(list)
      -var url = "/admin/edit/"+list._id;
      -var title = list.title;
      -var author = list.author;
      -var countent = list.countent;
      -var summary = list.summary;
      -var file = list.file;
    -else
      -var url = "/admin/new";
      -var title = author = coutent = summary = file = "";
    form(action=url method="post")
      .form-group
        label
          span.label 标题
          input.input(type="text" name="title" value="#{title}" placeholder="请输入标题" data-require="require")
      .form-group
        label
          span.label 作者
          input.input(type="text" name="author" value="#{author}" placeholder="请输入作者名字" data-require="require")
      .form-group
        label
          span.label 内容摘要
          textarea.textarea(name="summary", cols="30", rows="10" placeholder="请输入内容摘要" data-require="require")= summary
      .form-group
        label
          span.label 展示图片
          input.fileUp(type="file")
          input(type="hidden", name="file" value="#{file}")
      .form-group
        label
          span.label 详细内容
          input(type="hidden" class="editor" name="countent" value="#{countent}")
          div#editor
      .form-group
        input.btn.btn-primary(type="submit" value="保存")
  script(src="/ueditor/ueditor.config.js")
  script(src="/ueditor/ueditor.all.min.js")
  script.
    var ue = UE.getEditor('editor',ue_type.full);
    ue.addListener( 'ready', function( editor ) {
      var val = $(".editor").val();
      if(val && val !="undefined"){
        ue.setContent(val, false);
      }
    });
    $("form").on("submit",function(){
      var val = ue.getContent();
      $(".editor").val(val);
    });