extends ../layout/layout

block content
  .wrap
    .filter
      a.btn.btn-primary(href="/admin/new") 新增
    table.table
      thead
        tr
          th(width="20%") 标题
          th(width="140") 作者
          th 摘要
          th(width="140") 更新时间
          th(width=140) 操作
      tbody
        each item in list
          tr
            td= item.title
            td= item.author
            td= item.summary
            td
              - if (item.update)
                = item.update
              - else
                = item.creat
            td
              a.btn.btn-link(href="/admin/edit/#{item._id}") 编辑
              a.btn.btn-link(href="javascript:;" data-id="#{item._id}" class="delete") 删除
  script.
    $(function(){
      $(".delete").on("click",function(){
        var $this = $(this),
            id = $this.data("id");
        $.post("/admin/delete/"+id,function(data){
            $this.closest("tr").remove();
          });
      });
    });