extends ../layout/layout

block content
  .wrap
    h1.title= list.title
    div
      span.author 作者：#{list.author}
      span.time
        更新时间：#{list.update}
    .summary-detail
      内容简介：#{list.summary}
    .edit!= list.countent